<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Macro for 30xx_25 scan control sensors  -->
  <xacro:macro name="microepsilon_scancontrol_30xx_25" params="prefix">
    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://micro_epsilon_scancontrol_description/meshes/visual/visual_30xx_25.dae"/>
       </geometry>
       <material name="microepsilon_silver">
         <color rgba="0.7 0.7 0.7 1.0"/>
       </material>
      </visual>
      <collision>
        <origin xyz="0 0.0 0.0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://micro_epsilon_scancontrol_description/meshes/collision/collision_30xx_25.stl"/>
        </geometry>
      </collision>
    </link>

    <link name="${prefix}aperture_frame" />

    <joint name="${prefix}base_link-${prefix}aperture_frame" type="fixed">
     <!-- xyz values represent the distance between the top mounting hole and the lens of the laser  -->
     <!-- rpy values are chosen so the x and z axes are consistent with the internal sensor measurement frame -->
      <origin xyz="-0.0935 0 -0.0767" rpy="${pi} 0 ${pi/2}" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}aperture_frame" />
    </joint>

  </xacro:macro>
</robot>
