<launch>
    <let name="scancontrol_type" value="30xx_25" />

    <node pkg="robot_state_publisher" exec="robot_state_publisher" name="robot_state_publisher">
        <param name="robot_description" value="$(command 'xacro $(find-pkg-share micro_epsilon_scancontrol_description)/urdf/scancontrol_$(var scancontrol_type).xacro')" />
    </node>
</launch>
