<launch>
    <arg name="scancontrol_type" default="26x0_29x0_25"
        description="scanCONTROL type to use for the visualization"/>
    
    <arg name="frame_id" default="scancontrol_frame"
        description="The `frame_id` used to publish the profiles/pointclould data with."/>
    <arg name="serial" default=""
        description="Select a specific sensor to connect to by specifying its serial number. If left empty, the driver will connect to the first found sensor"/>

    <include file="$(find-pkg-share micro_epsilon_scancontrol_driver)/launch/load_driver.launch">
        <arg name="frame_id" value="$(var frame_id)"/>
        <arg name="serial" value="$(var serial)"/>
    </include>
    <include file="$(find-pkg-share micro_epsilon_scancontrol_description)/launch/load_scancontrol_$(var scancontrol_type).launch" />
    <node pkg="rviz2" exec="rviz2" name="rviz2" args="-d $(find-pkg-share micro_epsilon_scancontrol_description)/config/scancontrol_urdf.rviz"/>
</launch>
