name: scancontrol

services:
  # Root dependencies needed to build ros packages
  scancontrol-base:
    build: 
      context: ${SCANCONTROL_SRC_DIR}
      dockerfile: .docker/Dockerfile
    image: "scancontrol:base"

  # Builds the ROS package
  scancontrol-build:
    depends_on: 
      scancontrol-base:
        condition: service_completed_successfully  # start the ROS build only when base is done
    build:
      context: ${SCANCONTROL_SRC_DIR}
      dockerfile: .docker/build.Dockerfile
      args:
        - TARGET_WS=${SCANCONTROL_TARGET_WS}
    image: "scancontrol:build"
    working_dir: ${SCANCONTROL_TARGET_WS}
    user: ${PUID}:${PGID}
    # command: tail -f /dev/null 
    
  # Runs the Scancontrol driver node as continuous service
  scancontrol-service:
    image: "scancontrol:build"
    container_name: scancontrol-service
    working_dir: ${SCANCONTROL_TARGET_WS}
    network_mode: host 
    user: ${PUID}:${PGID}
    depends_on:
      scancontrol-build:
          condition: service_completed_successfully
    command: /bin/bash -c 'source install/setup.bash && ros2 run micro_epsilon_scancontrol_driver driver_node'
    # command: tail -f /dev/null  