name: scancontrol

services:
  scancontrol-service:
    image: samxl/scancontrol:humble-service
    container_name: scancontrol-humble-service
    pull_policy: if_not_present
    build:
      context: ..
      dockerfile: .docker/service.Dockerfile
      args:
        - ROS_DISTRO=humble
    environment:
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}
      - ROS_LOCALHOST_ONLY=${ROS_LOCALHOST_ONLY}
      - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}
    network_mode: host
    entrypoint: /bin/bash -c 'source install/setup.bash && ros2 run
      micro_epsilon_scancontrol_driver driver_node'
    working_dir: /workspaces/scancontrol_ws
    ipc: host
