services:
  scancontrol-service:
    image: "scancontrol:latest"  # eventually this will be a registry image. for now, locally built by docker-compose.dev.yml
    container_name: scancontrol-service
    working_dir: ${SCANCONTROL_TARGET_WS}
    ipc: host
    network_mode: host 
    environment:
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}
      - ROS_LOCALHOST_ONLY=${ROS_LOCALHOST_ONLY}
      - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION} 
    command: /bin/bash -c 'source install/setup.bash && ros2 run micro_epsilon_scancontrol_driver driver_node'
