name: CI

on: [push, pull_request]

jobs:
  industrial_ci:
    strategy:
      matrix:
        env:
          - {OS_NAME: ubuntu, OS_CODE_NAME: jammy, ROS_DISTRO: humble, DOCKER_IMAGE: "samxl/scancontrol:humble"}
          - {OS_NAME: ubuntu, OS_CODE_NAME: noble, ROS_DISTRO: jazzy, DOCKER_IMAGE: "samxl/scancontrol:jazzy"}
    env:
      CCACHE_DIR: /github/home/.ccache
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v4
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ccache-${{ matrix.env.ROS_DISTRO }}
      - uses: 'ros-industrial/industrial_ci@master'
        env: ${{ matrix.env }}
  
  clang-format-check:
    strategy:
      matrix:
        env:
          - {OS_NAME: ubuntu, OS_CODE_NAME: jammy, ROS_DISTRO: humble, DOCKER_IMAGE: "samxl/scancontrol:humble", CLANG_FORMAT_CHECK: "file",  CLANG_FORMAT_VERSION: '14'}
          - {OS_NAME: ubuntu, OS_CODE_NAME: noble, ROS_DISTRO: jazzy, DOCKER_IMAGE: "samxl/scancontrol:jazzy", CLANG_FORMAT_CHECK: "file",  CLANG_FORMAT_VERSION: '14'}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: 'ros-industrial/industrial_ci@master'
        env: ${{ matrix.env }}
